MONGODB_URI=mongodb://localhost:27017/jobApplicationsFullstackDB
JWT_SECRET=yoursupersecretkeygoeshere
PORT=3000
DEMO_USER=demo
JWT_EXPIRATION=1d
FRONTEND_URL_PROD=https://job-app-tracker-backend.up.railway.app/
FRONTEND_URL_DEV=http://localhost:5173
PRODUCTION=false