<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body class="index-body">
    <%- include("partials/nav.ejs") %>

    <div class="main-container">
      <h1 class="main-header">Landing Page</h1>
      <h2>A job application tracker.</h2>
    </div>
  </body>
</html>
