<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs')%>

    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>

      <a class="btn btn-primary btn-lg" href="/resumeTailorSessions/new">+ CREATE SESSION</a>

      <%- include('../partials/tables/table.ejs', {
        columnNames: ["Name", "Last Updated"],
        columnPaths: ["name", "updatedAt"],
        resourceName: "resumeTailorSessions",
        rows: sessions
      })%>
    </main>
  </body>
</html>
