<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs')%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <a class="btn btn-primary btn-lg" href="/tasks/new">+ ADD TASK</a>

      <% if(tasks.length>0){ %>
        <%- include('../partials/tables/table.ejs', {
          columnNames: ["Title", "State", "Company", "Start Date"],
          columnPaths: ["title", "state", "company.name", "startAt"],
          resourceName: "tasks",
          rows: tasks
        })%>

      <% } else { %>
        <p>No tasks yet!</p>
      <% } %>
    </main>
  </body>
</html>
